
h1, a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 61px);
    overflow: hidden;

    .section{
        padding: 4rem 2rem;
        text-align: center;

        .error{
            font-size: 150px;
            color: #3f51b5;
            text-shadow:
                1px 1px 1px #3547ad,
                2px 2px 1px #3547ad,
                3px 3px 1px #3547ad,
                4px 4px 1px #3547ad,
                5px 5px 1px #3547ad,
                6px 6px 1px #3547ad,
                7px 7px 1px #3547ad,
                8px 8px 1px #3547ad,
                25px 25px 8px rgba(0,0,0, 0.2);
        }

        .page{
            margin: 4rem 0 2rem 0;
            font-size: 20px;
            font-weight: 600;
            color: #444;
        }

        .back-home{
            &:hover{
                background: #222;
                color: #ddd;
            }
        }
    }
}
