<div class="container">
    <form [formGroup]="createForm">
        <!-- Form Title and Description -->
        <mat-card class="header-card">
            <mat-card-content>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Form Title</mat-label>
                    <input matInput formControlName="title" required />
                    <mat-error *ngIf="createForm.get('title')?.invalid && createForm.get('title')?.touched">
                        Title is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
            </mat-card-content>
        </mat-card>

        <!-- Questions Section -->
        <app-questioncard
            *ngFor="let question of questions.controls; let i = index"
            [question]="getQuestionGroup(i)"
            [index]="i"
            (activeQuestion)="saveQuestion($event)"
            (deleteQuestion)="removeQuestion($event)"
            (optionIndex)="addOption($event)"
        ></app-questioncard>

        <!-- Form Action Buttons -->
        <div class="form-actions">
            <button mat-raised-button color="primary" type="button" (click)="addQuestion()">Add Question</button>
            <button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="createForm.invalid">Submit</button>
        </div>
    </form>
</div>
