<section class="content-section">
    <div class="quote">
        <h1 class="quote-title">Together in faith, together in purpose.</h1>
        <p class="quote-description">Join us to deepen your faith and connect with a community of believers.</p>
    </div>
    <div class="actions">
        <button mat-flat-button color="primary" (click)="handleCreateForm()">Try Forms</button>
        <button mat-stroked-button="primary" (click)="handleCreateForm()">Go To Forms</button>
    </div>
    <div class="links">
        <p>Don't have an account?</p>
        <button mat-button color="primary" (click)="navigateToAuth()">Sign up for free</button>
    </div>
</section>
